# Veritabanı Bağlantısı (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mobilya-tedarik"

# Auth.js (NextAuth)
AUTH_SECRET="mob
i-tedarik-gizli-anahtar-2026"
AUTH_URL="http://localhost:3000"
